<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div th:if="${account != null}">
            <p th:text="${account.email}"></p>
            <img th:src="${account.picture}" />
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        </div>

        <div th:if="${account == null}">
            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
        </div>


</body>
</html>